@import "mixins.less";

nav.default {

  @bgactive: #0FABFC;

  > .nav-tabs {
    border-bottom: 3px solid @bgactive;
  }

  > .nav-tabs a {
    @bgstart: #147DBD;
    @bgend: #0A328C;

    outline: none;
    text-decoration:none;
    font-weight: bold;
    color: white;
    padding: 1px 12px 0;
    border: 0;
    border-radius: 4px 4px 0 0;
    margin-right: 2px;
    cursor: pointer;
    .linear-gradient(@bgstart, @bgend);

    &:hover {
      .linear-gradient(@bgstart, @bgend, 20%);
    }

    &[tabindex="0"] {
      background: @bgactive;
    }
  }

}
