.border-radius (@radius: 3px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -ms-border-radius: @radius;
}

.linear-gradient (@start, @end, @startPos: 0%) {
  background: @start;
  background: -moz-linear-gradient(top, @start @startPos, @end 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(@startPos, @start), color-stop(100%, @end));
  background: -webkit-linear-gradient(top, @start @startPos, @end 100%);
  background: -o-linear-gradient(top, @start @startPos, @end 100%);
  background: -ms-linear-gradient(top, @start @startPos, @end 100%);
  background: linear-gradient(top, @start @startPos, @end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start', endColorstr='@end', GradientType=0);
}

.opacity(@opacity) {
  @ieOpacity: @opacity * 100;

  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ieOpacity})";
  filter: ~"alpha(opacity=@{ieOpacity})";
  opacity: @opacity;
}
