{{#unless withoutBaseCss}}<link rel="stylesheet" href="{{url name="twitter-bootstrap" version="2.3.0" path="navs.css"}}" />{{/unless}}

{{css path="index.css"}}

<nav class="{{#if class}}{{class}}{{else}}default{{/if}}" aria-multiselectable="false">
  <ul class="nav nav-tabs" role="tablist"></ul>
</nav>

<div class="tab-content"{{#if contentPadding}} style="padding: {{contentPadding}}px"{{/if}}></div>
